################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/src/Irrlicht/source/Irrlicht/.obj
/src/Irrlicht/source/obj
/src/Lugh_game/.obj
/src/Tornado_engine/.obj
*.sdf
*.opensdf
*.suo
